.contact {
  background-color: var(--white);
  padding: var(--spacing-lg) 0;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: clamp(2rem, 6vw, 6rem);
}

.contact-info {
  flex: 1;
}

.section-header{
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--primary-green);
}

.section-title{
  font-family: 'Poppins', sans-serif;
  font-size: 2.1rem;
  font-weight: 800;
  color: var(--dark-charcoal);
}

.section-description{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: var(--dark-charcoal);
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 0.5rem 0;
}

.info-icon {
  font-size: 30px;
  color: var(--primary-green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-text {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: var(--text-main);
  font-weight: 500;
}

.contact-form-wrapper {
  flex: 1.2;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-row {
  display: flex;
  gap: 1.5rem;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-input, .form-textarea {
  width: 100%;
  padding: 1rem 1.2rem;
  background-color: #F3F4F6;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  font-family: var(--font-main);
  font-size: 0.95rem;
  outline: none;
  transition: var(--transition);
  color: var(--text-main);
}

.form-input:focus, .form-textarea:focus {
  border-color: var(--primary-green);
  background-color: var(--white);
  box-shadow: 0 0 0 4px rgba(76, 175, 80, 0.1);
}

.form-textarea {
  height: 10rem;
  resize: vertical;
}

.send-btn {
  width: fit-content;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border-radius: 50px;
  margin-top: 1rem;
  background-color: var(--primary-green);
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 992px) {
  .contact-container {
    flex-direction: column;
    gap: 4rem;
  }
  
  .contact-form-wrapper {
    padding: 2rem;
  }
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
  }
}
